h5{
    color: white;
    padding: 0;
   text-align: center;
   
   display: block;
   height: 40px;
  
}
#style{
   background-image: linear-gradient(90deg, #d0c09d, #465755);
   color:#e0e4e0;
   border: 1px solid #536463;
}

#style img{
    padding: 10px 20px;
}

